.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.ProgressbarContainer {
  margin-top: 24px;
  padding-top: 24px;
}

.Time {
  position: relative;
  bottom: 335px;
  font-size: 62px;
}


.focus-time-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 2em;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  width: 100%;
}

.start-btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

#start {
  background-color: #5ACC6B;
  border: none;
  height: 50px;
  width: 200px;
  text-align: center;
  font-size:30px;
  border-radius: 10px;
  color: white;
  margin-top: 48px;
}


.ButtonContainer {
  position: relative;
  bottom: 100px;
  display: flex; 
  margin-left: 100px;
  justify-content: space-evenly;
  width: 10%;
}

.action-buttons {
  height: 100px;
  width: 100px;
  background-color: #fafafa;
  border-radius: 50%;
  border: 5px solid #5EA9BE;
}

.MuiSvgIcon-root {
  color: #5EA9BE;
  font-size: 2rem !important;
}