.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.ProgressbarContainer {
  margin-top: 24px;
  padding-top: 24px;
}

.Time {
  position: relative;
  bottom: 335px;
  font-size: 62px;
}

.ButtonContainer {
  position: relative;
  bottom: 100px;
}